/* Resets de estilos */
* {
    margin: 0;
    padding: 0;
}
/* Elemento raíz */
:root {
    --font-family-base: 'IBM Plex Sans', sans-serif;
    --font-family-alt: 'Roboto Slab', serif;

    --color-bg: rgba(0, 0, 0, .1);
    --color-dark: #333;
    --color-white: #fff;
    --max-width-container: 1000px;
}
html {
    font-size: 16px;
}
@media screen and ( max-width: 400px ) {
    html {
        font-size: 13px;
    }
}
/* Body */
body {
    font-family: var(--font-family-base);
    font-size: 1rem;
    line-height: 1.5;
}
/* Estilos tipográficos base */
h1,
h2,
h3,
h4 {
    font-weight: 300;
    font-style: italic;
}
h1 {
    font-size: 2em;
    text-transform: uppercase;
}
address {
    color: #f90;
}
/* Container */
.container {
    max-width: var( --max-width-container );
    margin-left: auto;
    margin-right: auto;
}
/* Cabecera */
.site-header {
    padding: 2rem;
    font-size: 1.5rem;
    background-color: var(--color-bg);
}
.site-navigation {
    display: flex;
    justify-content: space-evenly;
}
.site-navigation a {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding: .75rem 2rem;
    font-size: .85rem;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-dark);
    border: 1px solid currentColor;
    order: 1;
}
.site-navigation a:hover {
    color: var(--color-dark);
    background-color: var(--color-white);
    border-color: var(--color-white)
}



/* Contenido página inicio */
/*.site-main {
    display: grid;
    grid-template-columns: calc( 50% - var( --max-width-container ) minmax( min-content, 4fr ) mimax( min-content, 8fr ) calc( 50% - var( --max-width-container ) );
    grid-template-areas: "marginleft presentation nav marginright"
                         "marginleft presentation posts marginright";
}
.home-presentation {
    grid-area: presentation;
}
.home-nav {
    grid-area: nav;
}
.home-posts {
    grid-area: posts;
}
*/
/* Pie de página */
.site-footer {
    padding: 2rem;
    background-color: var(--color-bg);
}